<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyq7on.mushrommstreet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.PageIndicatorDefaults" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cyq7on.mushrommstreet.activity.MessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.cyq7on.mushrommstreet.activity.HaotaoActivity" >
        </activity>
        <activity android:name="com.cyq7on.mushrommstreet.activity.LoginActivity" >
        </activity>
        <activity android:name="com.cyq7on.mushrommstreet.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.cyq7on.mushrommstreet.activity.CartActivity" >
        </activity>
        <activity
            android:name="com.cyq7on.mushrommstreet.activity.ConfirmOrderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity android:name="com.cyq7on.mushrommstreet.activity.CheckstandActivity" />
        <activity android:name="com.cyq7on.mushrommstreet.activity.ShoppingAddressActivity" />
        <activity android:name="com.cyq7on.mushrommstreet.activity.EditAddresActivity" />
        <activity android:name="com.cyq7on.mushrommstreet.shoppingfragment.activity.SearchActivity" />
        <activity
            android:name=".activity.ShoppingdetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity
            android:name=".activity.GoodsdetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity
            android:name="com.cyq7on.mushrommstreet.waterfall.PullToRefreshSampleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>